:root {
    --primary-color: rgb(184, 249, 240);
    --secondary-color: rgb(251, 204, 204);
    --tertiary-color: rgb(0, 0, 0);
    }
    
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body {
       
        
    }

    header {
        
    }
    
    .name {
        
        
        
    }

    nav {
       
    }


    header nav ul li a {
    
    }


    .name {
        
    }

   /* ABOUT ME STYLING */
    
   section {
    
   }
   
   h3 {
       
   }
   
   .about-me-container {
       
    }
    
    .about-me-container p {
        
    }

     
   /* END ABOUT ME STYLING */

   /*BEGIN WORK SHOWCASE SECTION */

   section {
   

   }

   h2 {
    
   }

   .rasberry-pi-gameboy-emulator {
        
   }

   .calculator {

   }

    .puzzle {

}
    .stopwatch {

    }

    .LED {

    }

   /* END WORK SHOWCASE SECTION */

    /* BEGIN CONTACT ME SECTION */
   section {
   
   }

   h4 {
   
   }
    
   .ap {

   }

   .bp {

   }
    
   .cp {

   }
   
   .dp {

   }

   