:root {
    --primary-color: rgb(184, 249, 240);
    --secondary-color: rgb(251, 204, 204);
    --tertiary-color: rgb(0, 0, 0);
    }
    
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body {
         height:100%;
         width: 100%;
        background-color: var(--primary-color);
        


    }

    header {
        height: 250px;
        width: 100%;
        background-image:url(../images/rose.jpg);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        border-style: solid;
        border-color: var(--secondary-color);
        
    }
    
    .name {
        font-size: 52px;
        font-family: 'Times New Roman', Times, serif;
        color: var(--secondary-color);
        padding: 0px 0px 0px 175px;
         
        
    }

    nav {
       
    }


    header nav ul li a {
        
    }


   /* ABOUT ME STYLING */
    
   section {
    
   }
   
   h3 {
       
   }
   
   .about-me-container {
       
    }
    
    .about-me-container p {
        
    }

     
   /* END ABOUT ME STYLING */

   /*BEGIN WORK SECTION */

   section {
   

   }

   h2 {
    
   }

   .rasberry-pi-gameboy-emulator {
        
   }

   .calculator {

   }

    .puzzle {

}
    .stopwatch {

    }

    .LED {

    }

   /* END WORK SHOWCASE SECTION */

    /* BEGIN CONTACT ME SECTION */
   section {
   
   }

   h4 {
   
   }
    
   .ap {

   }

   .bp {

   }
    
   .cp {

   }
   
   .dp {

   }

   